.about_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about_content_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about_content_text > p {
  font-size: 16px;
  font-weight: 300;
  color: var(--secondary);
  line-height: calc(16px * 1.5);
}

.about_content_image {
  width: 100%;
  height: 175px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.about_content_image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 250;
  filter: grayscale(1);
  transition: all 200ms ease-in-out;
}

.about_content_image:hover > img {
  filter: grayscale(0);
  transform: scale(1.025);
}

@media screen and (min-width: 1164px) {
  .about_content {
    flex-direction: row;
  }
  .about_content_text {
    width: 50%;
  }
  .about_content_image {
    width: 50%;
    height: auto;
  }
}
