.banner {
  position: relative;
  width: 100%;
  height: calc(54px + 256px);
  border-bottom: 1px solid var(--secondary);
}

.banner_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 50;
}

.banner_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 10%, 0.5);
  backdrop-filter: blur(3px);
  z-index: 75;
}

.banner_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 700;
  color: var(--secondary);
  z-index: 100;
  display: flex;
  text-align: center;
}

.banner_title > span {
  color: var(--accent);
}

@media screen and (min-width: 1164px) {
  .banner_title {
    font-size: 54px;
  }
}
