.container {
  width: 100%;
  max-width: 1148px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-top: 1px solid var(--secondary);
}

.logo > p {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary);
}

.logo > p > span {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent);
}

.links {
  display: flex;
  gap: 64px;
}

.links > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  text-decoration: none;
}
