.container {
  width: 100%;
  max-width: 1148px;
  background-color: var(--primary);
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  padding: 0 16px;
}

.utilities {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.search_bar {
  width: 75%;
  font-size: 16px;
  font-weight: 300;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  background-color: transparent;
  padding: 4px 8px;
}

.search_bar > input:focus,
.search_bar > input:active {
  outline: none;
  border: none;
}

.pagination {
  display: none;
  width: 75%;
  align-items: center;
  justify-content: space-between;
}

.pagination_mobile > p,
.pagination > p {
  font-size: 16px;
  color: var(--secondary);
  font-weight: 400;
}

.pagination_mobile > button,
.pagination > button {
  width: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 4px 0;
  outline: none;
  border: 1px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.pagination_mobile > button:disabled,
.pagination > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination_mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 16px;
}

.posts_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.posts_error {
  width: 100%;
  height: calc(100vh - 444px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.posts_error > p {
  font-size: 16px;
  color: var(--secondary);
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 690px) {
  .utilities {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0;
  }

  .search_bar {
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 4px;
    background-color: transparent;
    padding: 4px 8px;
  }

  .posts_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .pagination_mobile_wrapper {
    display: flex;
    justify-content: center;
  }

  .pagination_mobile {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 16px auto;
  }
}

@media screen and (min-width: 1024px) {
  .search_bar {
    width: 30%;
  }

  .pagination {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1164px) {
  .posts {
    padding: 0;
  }

  .posts_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
