.container {
  width: 100%;
  background-color: var(--primary-light);
  box-shadow: var(--shadow);
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
}

/* Text styling */

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.text_title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(18px * 1.2);
  text-align: start;
  color: var(--accent);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text_description {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: calc(16px * 1.2);
  text-align: start;
  color: var(--secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  margin: 16px 0;
}

.text_date {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: calc(16px * 1.2);
  text-align: start;
  color: var(--secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  opacity: 0.75;
}

/* Image styling */

.image {
  position: relative;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid var(--secondary);
}

.image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 250;
}
