.container {
  width: 100%;
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--primary);
}

.post_title {
  font-size: 32px;
  font-weight: 700;
  color: var(--accent);
  line-height: calc(32px * 1.5);
}

.post_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 1164px) {
  .container {
    padding: 16px 0px;
    max-width: 725px;
  }
}
