* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

:root {
  --black: hsl(0, 0%, 12%);
  --black-75-transparent: hsl(0, 0%, 12%, 0.75);
  --black-25-transparent: hsl(0, 0%, 12%, 0.25);
  --black-shadow: 0 0 4px hsl(0, 0%, 12%, 0.25);
  --white: hsl(0, 0%, 98%);
  --white-dark: hsl(0, 0%, 96%);
  --accent: hsl(306, 100%, 19%);
  --accent-light: hsl(306, 55%, 35%);
}

/* Posts styling for Markdown component */

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  line-height: calc(24px * 1.5);
}

.text {
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  line-height: calc(16px * 1.5);
}

.code_container {
  width: 100%;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--black);
}

.code_copy {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 250;
  cursor: pointer;
}

.code_copy > svg {
  height: 100%;
  width: auto;
  fill: var(--black);
}

.image_and_text_container {
  width: 100%;
  display: flex;
  gap: 16px;
}

.image_and_text_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image_and_text_image {
  position: relative;
  width: 50%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--black-shadow);
}

.image_and_text_image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 250;
}

/* STYLING FOR THE IMAGE LOADER */

.image_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 500;
  transition: opacity 200ms ease-in-out;
}

.image_loader_spinner {
  width: 64px;
  height: 64px;
  position: relative;
  background: var(--white);
  border-radius: 4px;
  box-shadow: var(--black-shadow);
  overflow: hidden;
}
.image_loader_spinner:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: var(--accent-light);
  box-shadow: 32px -34px 0 5px var(--accent);
  animation: slide 2s infinite ease-in-out alternate;
}
.image_loader_spinner:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--accent);
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }
  25%,
  75% {
    bottom: -2px;
  }
  20%,
  80% {
    bottom: 2px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }
  25%,
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
